.App {
  text-align: center;
}

.App-header {
  background: black;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 0px;

}

.welcomediv {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0,0,0,0.3);
  z-index: 1100;
}

.side {
  height: 100%;
  background: white;
  width: 300px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1500;
  box-shadow: 5px 5px 10px;
}

.side ul {
  list-style: none;
  display: flex;
  flex-direction: column;

}

.sidelink {
  color: black;
  font-size: 20px;
  float: left;
  padding: 20px;
  font-family: 'Oswald', sans-serif;
}


.stickysubmit {
  position: sticky;
  top: 84px;
  background: white;
  padding-bottom: 10px;


}

.navbar {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-left: auto;
  padding: 20px;


}

.archive {
  font-family: 'Rubik', sans-serif;
  font-size: 35px;
}

.datatext {
  font-family: 'Exo 2', sans-serif;
  font-size: 17px;
}

.navspec {
  width: 100%;

}

.links {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.colortable {
  background: rgb(116, 171, 194, 0.4);
  padding: 20px;
}

.data {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}


@media (max-width: 1000px) {
   .links {
    font-size: 17px;

  }
}

@media (max-width: 900px) {
   .links {
    display: none;

  }
}

a {
  color: white;

}

.whiteburger {
  color: white;
  font-size: 10px;
  display: none;

}

@media (max-width: 900px) {
   .whiteburger {
    font-size: 25px;
    display: block;

  }
}


.submission {
  z-index: 1;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  padding: 10px;

}

.centersubmit {
  margin-left: 33px;
  margin-right: auto;
}

.submitbtn {
  background: grey;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.linky {
  cursor: pointer;
  text-decoration: underline;
  color: blue;

}
