.App {
  text-align: center;
}

.mainpage {
  background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('notes.jpg');
  background-size: 1500px 1100px;
  margin-top: -15px;
  background-repeat: none;
  max-height: 610px;

}

@media (max-width: 500px) {
  .mainpage {
    background: none;
  }
}

.logotop {
  width: 60px;
  height: 50px;
  float: left;
  border-radius: 100%;
}


.App-header {
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 0px;
  box-shadow: 0px 0px 3px;


}

.welcomediv {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.welcomedivmobile {
  display: none;
}


@media (max-width: 500px) {
  .welcomedivmobile {
    display: block;
  }
}

.bold {
  font-size: 25px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 500px) {
  .bold {
    display: none;
  }
}

.titlemain {
  font-size: 70px;
  padding-top: 100px;

}

@media (max-width: 500px) {
  .titlemain {
    font-size: 40px;
    padding-top: 10px;
    color: black;
  }
}

.titleunder {
  color: white;
  padding-bottom: 400px;
}

@media (max-width: 500px) {
  .titleunder {
    padding-bottom: 0px;
    color: black;
  }
}


.mainpar {
  color: black;
}


.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0,0,0,0.3);
  z-index: 1100;
}

.side {
  height: 100%;
  background: white;
  width: 300px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1500;
  box-shadow: 5px 5px 10px;
}

.side ul {
  list-style: none;
  display: flex;
  flex-direction: column;

}

.sidelink {
  color: black;
  font-size: 18px;
  float: left;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}


.stickysubmit {
  position: sticky;
  top: 84px;
  padding-bottom: 10px;


}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 20px;
  background: rgb(0,128,128);

}
.lect:hover {
  color: blue;

}

.wrapright {
  list-style: none;
  display: flex;
  margin-top: 0;
  width: 70%;
  margin-right: auto;

}


.webinarlist {
  display: none;

  -webkit-animation: fadeIn 1s;
  animation-iteration-count: 1;




}

.breaklist {
  padding: 200px;
}



.lect:hover + .webinarlist{

  list-style: none;
  display: block;
  margin-top: 0;

  line-height: 30px;

  background: black;
  color: white;
  padding: 20px;
  border-radius: 2px;
  width: 100%;
}

.lect:hover + .links {
  display: none;
}



.webinarlist:hover {

  list-style: none;
  display: block;
  margin-top: 0;

  line-height: 30px;

  background: black;
  color: white;
  padding: 20px;
  border-radius: 2px;
  width: 100%;



}


.links2:active + .webinarlist {
  display: none;
}


.archive {
  font-family: 'Rubik', sans-serif;
  font-size: 35px;
}

.datatext {
  font-family: 'Exo 2', sans-serif;
  font-size: 17px;
}

.navspec, .lect {
  width: 100%;
}

.links, .lect {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: white;
}


.links2 {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  color: rgb(12, 168, 168);
}

.links2:hover {
  color: black;
}

.colortable {
  padding: 20px;

}

.data {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}




@media (max-width: 1000px) {
   .links, .lect {
    display: none;

  }
}

a {
  color: white;

}

.whiteburger {
  color: white;
  font-size: 10px;
  display: none;
  cursor: pointer;
  float: left;

}

@media (max-width: 1000px) {
   .whiteburger {
    font-size: 25px;
    display: block;


  }
}


.submission {
  z-index: 1;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  padding: 10px;

}

 @media (max-width: 500px) {
   .submission {
     display: none;
   }
   .submitbtn {
     display: none;
   }
 }

.centersubmit {
  margin-left: 33px;
  margin-right: auto;
}

.submitbtn {
  background: rgb(102, 102, 102,0.9);
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: white;
  width: 120px;
  height: 50px;
  border: 3px solid rgb(102, 102, 102);
  cursor: pointer;
  border-radius: 2px;
}

.submitbtn:hover {
  background: rgb(102, 102, 102,0.7);
}

.linkin {
  flex-direction: column;

}

.iconslist {
  list-style: none;
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

@media (max-width: 500px) {
  .iconslist {
    margin-right: auto;
    margin-left: 55px;
  }
}



.socialicon {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

}

@media (max-width: 500px) {
  .socialicon {
    margin-right: 30px;
  }
}

.develop {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 21px;
  color: black;
}



.linkicon {
  color: blue;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;

}

@media (max-width: 500px) {
  .linkicon {
    font-size: 20px;
  }
}


.leftheader {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 40px;
  width: 90%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.wholehouse {
  width: 90%;
  margin-left: auto;
  margin-right: auto
}

.mainhouse {
  font-family: 'Rubik', sans-serif;
  font-size: 60px;
  font-weight: 400;

}

.butbtm {
  background-color: rgb(103, 214, 147);
  height: 42px;
  text-align: center;
  padding-top: 10px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
}

.butbtm2 {
  background-color: rgb(179, 18, 18);
  height: 42px;
  text-align: center;
  padding-top: 10px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
}

.butbtm:hover, .butbtm2:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.incard {
  height: 80%;
  background: rgb(103, 214, 147, 0.1);
}

.incard2 {
  height: 80%;
  background: rgb(179, 18, 18, 0.1);
}

.program {
  font-size: 22px;
  padding-top: 10px;
  font-family: 'Oswald', sans-serif;
  line-height: 25px;
}

.descpro {
  padding-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Exo 2', sans-serif;
}

.access {
  padding-top: 10px;
  width: 80%;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Exo 2', sans-serif;
  padding-bottom: 10px;
}

.contactheader {
  font-size: 50px;
  padding-top: 50px;

}

.contactdiv {
  background-size: 700px 700px;
  height: 700px;
  margin-top: -15px;

}

.cardtact {
  background: rgb(0, 0, 0,0.8);
  width: 350px;
  height: 280px;
  color: white;
  border-radius: 2px;
  margin: 10px;
}



@media (max-width: 1340px) {
  .cardtact {
    width: 300px;
    height: 230px;
  }
}

.inner {
  font-size: 25px;
  padding-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Exo 2', sans-serif;

}

.mission {
  font-size: 50px;
  color: black;
}

@media (max-width: 500px) {
  .mission {
    font-size: 40px;
  }
}

.bottomcards {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .bottomcards {
    margin-left: 0px;
    display: block;
  }
}

@media (max-width: 500px) {
  .centermedia {
    margin-left: 20px;
  }
}

@media (max-width: 500px) {
  .leftheader {
    margin-left: 0px;
    text-align: center;
  }
}


@media (max-width: 1000px) {
   .newssection {
    display: none;


  }
}


.titlenews {
  text-align: left;
  margin-left: 80px;
}

.allnews {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background: rgb(0,0,0,0.1);
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  box-shadow: 1px 1px 10px grey;

}

.cardsn {
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: 200px;
  height: 120px;
  cursor: pointer;
}

.image:hover {
  filter: brightness(50%);
}

.contenttitle {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin-bottom: 0px;

}

.contenttitle2 {
  color: grey;
  font-family: 'Oswald', sans-serif;
  padding-top: 0px;
  margin-bottom: 0px;
}


.cardcontent {
  margin-top: -5px;
  width: 200px;
}



.taglist {
  display: flex;

  margin-left: 20px;
  margin-right: auto;
  width: 40%;


}

@media (max-width: 1000px) {
   .stick {
    display: none;


  }
}

.filters {
  font-size: 30px;
  color: white;


}




.choices {
  background: rgb(0,0,0,0.8);
  display: flex;
}


.focusin {
  color: white;
  margin-right: 20px;
  margin-left: 10px;
  padding: 7px;
  cursor: pointer;
  border-radius: 20px;
  font-family: 'Oswald', sans-serif;
  background: rgb(12, 168, 168);

}

.focusin:hover {
  background: rgb(12, 168, 168,0.7);
  color: white;
}



.applyfilter {
  margin-left: 20px;
  margin-right: auto;
  width: 40%;
  margin-top: 10px;
  color: white;

}







.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media (max-width: 1000px) {
   .grid {
    display: grid;
    grid-template-columns: 1fr;

  }
}


.twitterdiv {
  position: sticky;
  margin-top: 95px;
  margin-right: auto;
  margin-left: 20px;
  width: 400px;

}

@media (max-width: 1000px) {
   .twitterdiv {
    display: none;


  }
}



.tsize {
  background: rgb(189, 189, 189,0.2);
  width: 300px;
  height: auto;
  margin-right: 30px;
  margin-left: 40px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px grey;
}

.ttitle {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding-top: 5px;
}

.tlist {
  list-style: none;
  display: flex;
  margin-left: -35px;
  margin-right: -30px;
}

.titems {
  background: white;
  margin-right: 30px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.titems:hover {
  filter: brightness(90%);
}

.tpic {
  width: 60px;
  height: 60px;
  margin-top: 15px;
  margin-right: 10px;
  border-radius: 50%;


}

.tinlist {
  display: flex;

}

.ttext {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;


}

.ttext2 {
  font-family: 'Roboto', sans-serif;
  color: grey;
  margin-top: -18px;

}

.tusercontainer {
  margin-top: 20px;
  height: 30px;

}

.twholetext {
  font-family: 'Roboto', sans-serif;
}
