.App {
  text-align: center;
}

.App-header {
  background: black;
  position: sticky;

}

.navbar {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-left: auto;
  padding: 20px;

}

.navspec {
  width: 100%;
}

.links {
  text-decoration: none;
}

a {
  color: white;
}
